<header class="header-image">
    <div class="headline">
        <div class="container">
            <h2>Eat It Or Give It</h2>
            <h3>Give your leftover food away for free. Decrease food waste in Oslo.</h3>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</header>
<br>
<div class="featurette container" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/200x200">
            <h2 class="featurette-heading">Food
                <span class="text-muted">Categories</span>
            </h2>
            <p class="lead">Choose food category: canned food, vegetables, fruits, bottled drinks, etc. ...</p>
        </div>

        <hr class="featurette-divider">