<header class="header-image">
    <div class="headline">
        <div class="container">
            <h2>Eat It Or Give It</h2>
            <h3>Give your leftover food away for free. Decrease food waste in Oslo.</h3>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</header>