<header class="header-image">
    <div class="headline">
        <div class="container">
            <h2>Eat It Or Give It</h2>
            <h3>Give your leftover food away for free. Decrease food waste in Oslo.</h3>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</header>
<br>
<div class="container">
    <div class="row">
            <div class="col-sm-4">
                <%= image_tag 'groceries.jpg', class: 'img-circle img-responsive img-center' %>
                <h2 style="text-align: center">Food Categories</h2>
                <p>Choose food category you are looking for. For example: canned food, vegetables, fruits, bottled drinks, etc. ... </p>
              <center>
              <%= link_to 'Choose Category', categories_food_categories_path, class: "btn btn-primary" %>
               </center>
            </div>