<div class="jumbotron" style="background-color: #47ef88">
  <h1>Eat It Or Give It</h1>
  <p>Give your leftover food away for free. Decrease food waste in Oslo.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

